header{
    position: sticky;
    top: 36px;
    right: 0;
    z-index: 104;
    background-color: transparent;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: flex-start;
    transition: all .5s ease-in-out;
    height: 60px;
}

.scroll-color{
    background-color: rgb(20, 18, 45);
    position: fixed;
    top: 36px;
}

nav {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav ul{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.line{
    height: 1.5px;
    width: 0px;
    transition: all .3s ease;
    background-color: var(--primary-color);
}
nav ul li:hover .line{
    width: 100%;
}
nav ul li a {
    color:white;
    text-transform: capitalize;
    font-size: .9rem;
}
.signup-btn{
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--color-variant);
    color: var(--primary-color);
    text-transform: capitalize;
    border-radius: 5rem;
    font-family: poppins;
    cursor: pointer;
    transition: all .5s ease-in-out;
    font-weight: 500;
}
.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    overflow-y: hidden;
    padding-left: 80px;
}
.logo{
    /* height: 190px; */
    /* margin-top: 15px; */
    object-fit: contain;
    cursor: pointer;
    width: 80%;
    align-self: center;
}
.txtlogo{
    height: 80px;
    object-fit: contain;
}
.mobile-menu-container{
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 40px;
    cursor: pointer;
}
.line1,.line2, .line3{
    width: 45%;
    height: 2.2px;
    background-color: rgb(175, 175, 175);
    margin: 3px 0px;
}
  .mobile-menu-container{
    display: none;
  }
  .menu-modal{
    display: none;
  }
@media (max-width: 990px) and (min-width: 768px){
    .logo-container{
        width: 30%;
        padding-left: 0px;
    }
    .menu-container{
        display: flex;
    }
    nav{
        display: none;
    }
    .sign-up-btn-container{
        display: none;
    }
    
.mobile-menu-container{
    display: flex;
    cursor: pointer;
}
}
@media screen and (max-width: 767px){
    .menu-modal{
        display: flex;
        position: absolute;
        width: 100%;
        height: 0px;
        overflow-y: hidden;
        background-color: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 80px;
        left: 0;
        transition: .3s all ease-in;
        box-shadow: 0px 2px 10px #ddd;
    }
    .showing-modal{
        height: 400px;
        padding: 10px 20px 25px 20px;
    }
    .showing-modal ul a{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    }
    .menu-modal ul{
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    }
    .menu-modal ul a{
        font-size: 1rem;
        color: #3e3e3e;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
        text-transform: capitalize;
        margin: 5px 0px;
        border-bottom: 1px solid #ababab69;
        padding: 10px;
        width: 100%;
        text-align: left;
    }
    
    .sign-up-btn-container{
        display: none;
    }
    .mobile-menu-container{
        display: flex;
    }
    nav{
        display: none;
    }
    .logo-container{
        width: 60%;
        padding-left: 0px;
        overflow-y: hidden;
    }
    .logo{
        margin-top: 15px;
        object-fit: cover ;
    }
    header{
        height: 80px;
    }
}